# Arquivos de cache do PHPUnit
/.phpunit.cache
/phpunit.result.cache

# Diretório vendor (Composer)
vendor/

# Ignora o diretório node_modules
node_modules/

# Arquivos e diretórios públicos
/public/build
/public/hot
/public/storage

# Arquivos sensíveis e de ambiente
.env
.env.backup
.env.production
/storage/*.key
/storage/pail

# Arquivos de configuração do Homestead
Homestead.json
Homestead.yaml

# Arquivos específicos de ferramentas
.phpactor.json
auth.json
npm-debug.log
yarn-error.log

# Diretórios de IDE e editor
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Outros arquivos temporários ou de cache
*.log
